name: Node.js CI

on:
  push:
    branches:
      - main
      - alpha
      - beta

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: 'Setup node'
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: 'install deps'
      run: npm ci --no-audit
    - run: npm run lint --if-present
    - name: 'tests'
      run: npm test
    - name: build
      run: npm run build --if-present
      env:
        CI: true
